.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.detail-container .detail-title {
  margin: 20px 0px;
  font-size: 32px;
  border: #0000 solid 1px;
}

.detail-container .detail-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.detail-contents .detail-img {
  width: 300px;
  padding: 30px;
}

.detail-contents .detail-summary {
  width: 500px;
}
